@media (max-width: 992px) {
  .banner {
    .video-frame {
      justify-content: center;
      margin-left: 0;
    }

    .btn {
        margin-bottom: 20px;
      }
  }
}

@media (max-width: 515px) {
  .banner {
    .h1 {
      font-size: 35px;
    }
  }
}
