@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}
